.px2-carousel{
    margin-top: 1em;
    margin-bottom: 1em;
    &__contents{
        display: inline-block;
        overflow: hidden;
        img{
            line-height: 1;
            vertical-align: bottom;
            width: 100%;
            line-height: 1;
        }
    }

    .tns-outer {
        // width: auto;
        // margin: 0 auto;
        position: relative;
    }
    .tns-inner {
        position: relative;
    }
    .tns-nav {
        text-align: center;
        font-size: 7px;
        line-height: 1;
        padding: 1em 0;
        position: absolute;
        width: 100%;
        bottom: 0;
        z-index: 3;
    }
    .tns-nav > button {
        width: 27px;
        height: 7px;
        font-size: 7px;
        line-height: 1;
        margin: 0 5px;
        padding: 0;
        border: 0;
        border-radius: 5px;
        background: #eee;
    }
    .tns-nav > button.tns-nav-active {
        background: #666;
    }
    .tns-controls {
        outline: none;

        button[data-controls="prev"],
        button[data-controls="next"] {
            position: absolute;
            z-index: 2;
            top: 0;
            width: 20%;
            height: 100%;
            padding: 1em;
            border: none;
            outline: none;
            opacity: 0.6;
            background: rgba(255,255,255,0);
            color: #999;
            font-size: 24px;
            line-height: 1;
            text-align: center;
        }
        button[data-controls="prev"]:hover,
        button[data-controls="next"]:hover {
            opacity: 0.9;
            background: rgba(255,255,255,0.4);
        }
        button[data-controls="prev"] {
            left: 0;
        }
        button[data-controls="next"] {
            right: 0;
        }
    }
}
